@page "/"
@rendermode InteractiveServer
<PageTitle>Home</PageTitle>

<section>
    <div class="container @_toggler">
        <Login OnFormChange="OnFormChangeHandler" />

        <Register OnFormChange="OnFormChangeHandler" />
    </div>
</section>

@code {
    private string _toggler = string.Empty;
    private void OnFormChangeHandler(string toggle)
    {
        _toggler = toggle;
    }
}