@page "/users"

@using AuthenticationWithSupabase.Models
@using Supabase.Postgrest.Attributes
@using Supabase.Postgrest.Models

<div class="card">
    <div class="card-header">
        Users
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>UUID</th>
                        <th>Email</th>
                        <th>Created On</th>
                    </tr>
                </thead>
                @foreach(var user in ListOfUsers)
                {
                    <tr>
                        <td>@user.Id</td>
                        <td>@user.Email</td>
                        <td>@user.CreatedOn</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

@code {
    private List<Profile> ListOfUsers = [];

    [Inject]
    public Supabase.Client supabase { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var result = await supabase.From<Profile>().Get();
        ListOfUsers = result.Models;
    }
}
